@use "../mixins.scss" as *;
@use "../base.scss" as *;

// VkBadge 徽章淡入淡出动画
.vk-badge-fade-enter-active,
.vk-badge-fade-leave-active {
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.vk-badge-fade-enter-from,
.vk-badge-fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

// VkBadge 组件样式
.vk-badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  // 徽章内容
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--vk-color-danger);
    color: var(--vk-color-white);
    border: 1px solid var(--vk-color-white);
    border-radius: var(--vk-border-radius-xl);
    padding: 0 var(--vk-spacing-2);
    font-size: var(--vk-font-size-xs);
    line-height: 18px;
    min-width: 18px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;

    &.is-fixed {
      position: fixed;
    }

    &.is-dot {
      width: var(--vk-spacing-2);
      height: var(--vk-spacing-2);
      padding: 0;
      border-radius: 50%;
      min-width: auto;
    }

    /* 类型变体 */
    &--primary {
      background-color: var(--vk-color-primary, #409eff);
    }

    &--success {
      background-color: var(--vk-color-success, #67c23a);
    }

    &--warning {
      background-color: var(--vk-color-warning, #e6a23c);
    }

    &--danger {
      background-color: var(--vk-color-danger, #f56c6c);
    }

    &--info {
      background-color: var(--vk-color-info, #909399);
    }
  }
}
