@use "../mixins.scss" as *;
@use "../base.scss" as *;

// VkCard 组件样式
.vk-card {
  background: var(--vk-bg-color);
  border-radius: var(--vk-border-radius-lg);
  color: var(--vk-text-color-primary);
  transition: var(--vk-transition-duration-base) var(--vk-transition-timing-function);
  overflow: hidden;
  box-shadow: var(--vk-box-shadow-base);
  border: 1px solid var(--vk-border-color-light);

  &.is-always-shadow {
    box-shadow: var(--vk-box-shadow-md);
  }

  &.is-hover-shadow {
    &:hover {
      box-shadow: var(--vk-box-shadow-md);
    }
  }

  &.is-never-shadow {
    box-shadow: none;
  }

  // 卡片头部
  &__header {
    padding: var(--vk-spacing-5);
    border-bottom: 1px solid var(--vk-border-color-light);
    background-color: var(--vk-fill-color-lighter);
    box-sizing: border-box;
  }

  // 卡片主体
  &__body {
    padding: var(--vk-spacing-5);
  }

  // 卡片底部
  &__footer {
    padding: var(--vk-spacing-5);
    border-top: 1px solid var(--vk-border-color-light);
    background-color: var(--vk-fill-color-lighter);
    box-sizing: border-box;
  }

  // 卡片标题
  &__title {
    font-size: var(--vk-font-size-xl);
    color: var(--vk-text-color-primary);
    font-weight: 600;
    margin: 0;
  }

  // 卡片副标题
  &__subtitle {
    font-size: var(--vk-font-size-base);
    color: var(--vk-text-color-secondary);
    margin: var(--vk-spacing-1) 0 0 0;
  }
}
