@use "../mixins.scss" as *;
@use "../variables.scss" as *;

// VkDivider 组件样式
.vk-divider {
  /* 基础样式定义 */
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  margin: var(--vk-divider-margin, 24px 0);
  border-top: 1px var(--vk-divider-border-style, solid) var(--vk-divider-border-color, #dcdfe6);

  /* 垂直方向样式 */
  &--vertical {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
    border-top: 0;
    border-left: 1px var(--vk-divider-border-style, solid) var(--vk-divider-border-color, #dcdfe6);
  }

  /* 带文本的分割线样式 */
  &__text {
    position: absolute;
    background-color: var(--vk-divider-text-bg-color, #fff);
    padding: 0 var(--vk-divider-text-padding, 20px);
    font-weight: 500;
    color: var(--vk-divider-text-color, #303133);
    font-size: var(--vk-divider-font-size, 14px);
    transform: translateY(-50%);
  }

  /* 内容位置样式 */
  &.is-left {
    .vk-divider__text {
      left: var(--vk-divider-text-left-indent, 20px);
    }
  }

  &.is-center {
    .vk-divider__text {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.is-right {
    .vk-divider__text {
      right: var(--vk-divider-text-right-indent, 20px);
    }
  }
}